.button {
  background-color: black;
  padding : 7px;
  border-radius: 8px;
  color:white;
  font-family:monospace;
}

.button:hover {
  color:black;
  background-color: white;
}

.formcontrol {
  flex-direction: row;
  padding: 7px;
  width: 50%;
  border-radius: 8px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;  
}

.verify{
  margin-right: 50px;
  padding-top: 20px;
  color:cadetblue
}

.title {
  color:blueviolet;
  align-items: center;
  margin-right: 40px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.container {
  text-align: center;
  align-items: center;
  padding: 10%;
}


