.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #040008;
  color: #fcf4f4;
  padding: 7px;
}

.navigation-left {
  display: flex;
  align-items: center;
}

.navigation-left a {
  color: #fffafa;
  margin-right: 5px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.dropdown {
  position:relative;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px;
  border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navigation-right {
  display: flex;
  align-items: center;
}

.navigation-right a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.navigation-right a:hover,
.navigation-left a:hover,
.dropdown-toggle:hover,
.dropdown-menu a:hover {
  background-color: #504e4e;
}

.navigation-container{
  .logo{
    justify-content: left;
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    align-content: center;
  }
}
